.friend-message-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	padding: 0 50px;
}

h3 {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 50px;
	color: #fff;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.friend-list-container {
	display: flex;
	flex-direction: column;
	height: 60vh;
	padding: 20px;
	width: 40%;
	background-color: rgba(255, 255, 255, 0.3);
	/*box-shadow: 0 3px 4px 0 rgba(0,0,0,0.50);*/
}

.search-container {
	display: flex;
	justify-content: space-between;
	padding: 3px;
	margin-bottom: 10px;
}

.search-friends-btn {
	border: none;
	background-color: #ff5f00;
	color: #fff;
	font-size: 22px;
	width: 25%;
	height: 50px;
	border-left: 3px solid #fff;
	outline-style: none;
}

.search-friends-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

input.search-input {
	width: 75%;
	margin-bottom: 10px;
}

.friend-list {
	height: 40vh;
	list-style: none;
	overflow: auto;
	padding: 0;
	margin: 0;
}

.friend-list li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	border-bottom: 1px solid #ff5f00;
	padding: 5px 0;
}

.friend-photo {
	border-radius: 50%;
	margin-right: 5%;
	height: 70px;
	width: 70px;
}

.name-location-container {
	margin-right: 20%;
}

.friend-name {
	margin: 0;
	font-size: 30px;
	text-align: center;
}

.friend-location {
	margin: 0;
	font-size: 28px;
	color: #fc1d4c;
}

.friend-btn {
	border: none;
	background-color: #ae0c62;
	color: #fff;
	font-size: 30px;
	padding: 16px;
	width: 20%;
	outline: none;
}

div.display-center {
	justify-content: center;
}

@keyframes slideLeft {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		justify-content: space-between;
		opacity: 1;
	}
}

div.transition1 {
	animation: slideLeft 1s;
}

@media screen and (max-width: 700px) {
	.friend-list-container {
		padding: 15px;
		width: 45%;
	}

	h3 {
		font-size: 40px;
	}

	.search-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	input.search-input {
		font-size: 25px;
		width: 95%;
		margin-bottom: 25px;
	}

	.search-friends-btn {
		font-size: 22px;
		width: 95%;
		margin-bottom: 10px;
	}

	.friend-list li {
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-grow: 1;
		padding: 10px;
	}

	.friend-photo {
		height: 50px;
		width: 50px;
	}

	.name-location-container {
		justify-content: flex-start;
		margin-right: 5%;
		width: 65%;
	}

	.friend-name {
		font-size: 20px;
	}

	.friend-location {
		font-size: 22px;
	}

	.friend-btn {
		font-size: 20px;
		padding: 10px;
		width: 80%;
	}

	.friend-name {
		text-align: left;
	}

	div.display-center .friend-list-container {
		width: 80%;
	}

	.friend-list-container {
		margin-bottom: 30px;
		width: 80%;
	}

	.friend-message-container {
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
	}
}

@media screen and (max-width: 1100px) {
	.friend-list-container {
		padding: 15px;
		width: 45%;
	}

	h3 {
		font-size: 40px;
	}

	.search-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	input.search-input {
		font-size: 30px;
		width: 95%;
		margin-bottom: 25px;
	}

	.search-friends-btn {
		font-size: 22px;
		width: 95%;
		margin-bottom: 10px;
	}

	.friend-list li {
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-grow: 1;
		padding: 10px;
	}

	.friend-photo {
		height: 60px;
		width: 60px;
	}

	.name-location-container {
		justify-content: flex-start;
		margin-right: 5%;
		width: 65%;
	}

	.friend-name {
		font-size: 40px;
	}

	.friend-location {
		font-size: 35px;
	}

	.friend-btn {
		font-size: 22px;
		padding: 10px;
		width: 80%;
	}

	.friend-name {
		text-align: left;
	}

	div.display-center .friend-list-container {
		width: 80%;
	}

	.friend-list-container {
		margin-bottom: 30px;
		width: 80%;
	}

	.friend-message-container {
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
	}
}
