.messages-wrapper  {
  height: 60vh;
  padding: 20px;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.3);
  /*box-shadow: 0 3px 4px 0 rgba(0,0,0,0.50);*/
}

.message-default {
  margin-top: 170px;
  font-size: 60px;
  color: #FF5F00;
  text-align: center;
}

.default-message-individual {
  font-size: 50px;
  color: #FF5F00;
}

.message-container {
  height: 50vh;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45vh;
  overflow: auto;
}
.message-container input {
  font-size: 20px;
  padding: 5px;
  width: 68%;
}

.message-container button {
  border: none;
  outline: none;
  background-color: #FF5F00;
  color: #FFF;
  width: 30%;
  padding: 7px;
  font-size: 20px;
}

.message-container button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.message-individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}

.message-loggedInUser {
  align-items: flex-end;
}

.message-otherUser {
  align-items: flex-start;
}

.message-sender {
  margin: 0;
  margin-bottom: 5px;
  color: #FFF;
  font-size: 15px;
}

.message-text {
  margin: 0;
  margin-bottom: 5px;
  color: #FF5F00;
  font-size: 20px;
}

.message-date {
  margin: 0;
}

h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  padding: 0 10px;
  margin: 0 0 5px 0;
  font-size: 30px;
}

.text-date-container {
  width: auto;
  padding: 10px;
  border: 1px solid #FFF;
  border-radius: 20px;
  margin-bottom: 10px;
}

.text-date-user {
  background-color: rgba(253, 108, 3, 0.2);
}

.text-date-recipient {
  background-color: rgba(252,30,76,0.2);
}

@media screen and (max-width: 700px) {

  .default-message-individual {
    font-size: 45px;
  }

  .messages-wrapper {
    height: auto;
    margin-bottom: 30px;
    width: 80%;
  }

  .message-container {
    height: auto;
  }

  .message-container input {
    width: 90%;
    margin-bottom: 15px;
  }

  .message-container button {
    width: 93%;
  }

}
