header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 30px;
}

.nav-logo {
  height: 140px;
  width: 140px;
}

h1 {
  margin: 0;
  margin-top: 20px;
}

.connect-me {
  height: 100px;
}

.navlink-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 30%;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}

.navlink-img {
  margin-right: 5px;
  height: 45px;
  width: 45px;
}

.profile-photo {
  border-radius: 50%;
}

.Link {
  height: fit-content;
  color: #FFF;
  font-size: 30px;
  text-decoration: none;
}

.Link:hover {
  cursor: pointer;
}

.login-link:hover {
  color: #fd6c21;
}

.friends-link:hover {
  color: #fc1e4c;
}

.message-link:hover {
  color: #ae0c62;
}

@media screen and (max-width: 700px) {

  header {
    justify-content: flex-start;
    padding: 5px 20px 0 20px;
  }

  .nav-logo {
    height: 70px;
    width: 70px;
    margin-right: 10px;
  }

  .navlink-container {
    width: 80%;
  }

  h1 {
    margin: 0;
    margin-top: 20px;
  }

  .connect-me {
    display: none;
  }

  .link-container {
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .navlink-img {
    height: 40px;
    width: 40px;
  }

  .profile-photo {
    border-radius: 50%;
  }

  .Link {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {

  header {
    padding: 5px 20px 0 20px;
  }

  .nav-logo {
    height: 70px;
    width: 70px;
    margin-right: 10px;
  }

  h1 {
    margin: 0;
    margin-top: 20px;
  }

  .connect-me {
    height: 60px;
  }

  .navlink-container {
    width: 42%;
  }

  .link-container {
    padding-bottom: 5px;
  }

  .navlink-img {
    height: 40px;
    width: 40px;
  }

  .Link {
    font-size: 20px;
  }

}
